.cong-viec-component {
    border-top: 1px solid #ccc;
    padding   : 10px;
    min-height: 114px;

    .image-box {
        img {
            max-width : 100%;
            height    : auto;
            max-height: 114px;
        }
    }

    svg {
        margin-top  : 4px;
        margin-right: 8px;
    }

    p {
        margin: 0;
    }

    .info-box {
        padding-top: 12px;

        a {
            text-decoration: none;
            color          : #000000;
        }

        .chuc-danh {
            margin-bottom: 3px;
        }

        .ten-cong-ty {
            margin-bottom: 10px;
        }

    }
}