.wp {
    position: absolute;
    height: 4px;
    background-color: transparent;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    div {
        width: 35%;
        height: 100%;
        border-radius: 4px;
        background-color: rgb(100, 100, 255);
        animation: fade linear 1s infinite;
        position: absolute;
    }
}

@keyframes fade {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}
