.left {
    background-color: rgb(249, 250, 251);
    border-right: 1px dotted #ccc;

    .wp-left {
        a {
            text-decoration: none;
            color: #333;
            display: block;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 10px 0;
            overflow: hidden;
        }

        span {
            color: currentColor;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            min-height: 60px;
            font-weight: 600;

            &.active {
                color: rgb(32, 101, 209);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
                color: #ee4d2d;

                &.active {
                    color: rgb(32, 101, 209);
                    background-color: transparent;
                    cursor: default;
                }
            }
        }
    }
}
