// import css của thư viện
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'tippy.js/dist/tippy.css';
@import 'react-awesome-lightbox/build/style.css';
@import 'react-markdown-editor-lite/lib/index.css';

@import './Header.scss';
@import './SelectItem.scss';
@import './TrangChu.scss';
@import './DangKy.scss';
@import './UngVien.scss';
@import './Components/Style.scss';

@import './Components/LocCongViec/style.scss';

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --height-header         : 68px;
    --height-sub-header     : 56px;
    --main-color            : #f37021;
    --sub-color             : #fbe9e7;
    --height-input-on-search: 40px;
}

.h-500px {
    height: 500px;
}

.title {
    font-size: 18px;
}

.re-line {
    white-space: pre-line;
}

.pointer {
    cursor: pointer;
}

.cont {
    max-width: 88vw;
    margin: 0 auto;
}