.trang-chu {
    // max-width: 1200px;
    margin: 0 auto;
    max-width: 88vw;
    .carousel-group {
        margin: 20px auto;
    }
}

.trang-chu .carousel-group .carousel-inner {
    border-radius: 8px;
}

.trang-chu .carousel-group img {
    border-radius: 8px;
}